
$primary-color: hsl(14, 86%, 42%);
$font-size: 16px;
$background_colour: hsl(13, 31%, 94%);
$category_colour: hsl(14, 25%, 72%);

body {
  font-family: 'Red Hat Text';
  background-color: $background_colour;

  #container{
    
    #your_cart{
        #cart_items{
            color:$primary-color;
        }
    }
  }

  #deserts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1px; 

  .card {
    padding: 1rem;
    border-radius: 5px;

    .image_wrapper{
        position:relative;
        border-radius: 1px;
        overflow: visible;
        .image{
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 180px;
            object-fit: cover; 
            display: block;
        }
        .btn {
             position: absolute; 
            bottom: -20px;          // hangs below image   
            background-color:hsl(20, 50%, 98%);
            color: black;
            padding: 8px 25px;
            border: 1px hsl(12, 20%, 44%) solid;
            margin-left: 20%;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 999px;
            font-weight: bold;
            cursor: pointer; // points a finger
            &:hover{
                border-color: $primary-color;
                color:$primary-color;
            }
            

           .quantityControls {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;

                .decrement{
                    width:20px;
                    height:20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: hsl(14, 86%, 42%);
                    border:1px hsl(13, 31%, 94%) solid;
                    border-radius: 50%;
                    padding:0;
                    cursor: pointer;
                }

                .increment{
                    width:20px;
                    height:20px;
                    justify-content: center;
                    background-color: hsl(14, 86%, 42%);
                    border:1px hsl(13, 31%, 94%) solid;
                    border-radius: 50%;
                    padding:0;
                    cursor: pointer;
                }
            }
        }
    }

    .deets{
        padding-top: 15px;
        .category {
            font-size: 0.9rem;
            color:$category_colour;
            margin-bottom: 0.25rem; // reduce space below
        }

        .name {
            font-size: $font-size;
            font-weight: bold;
            margin: 0;              // remove default margin
        }

        .price {
            font-weight: bold;
            color: $primary-color;
            margin-top: 0.25rem;    // small gap above price
        }
    }
  }
}
}


