
$primary-color: hsl(14, 86%, 42%);
$font-size: 16px;
$background_colour: hsl(13, 31%, 94%);
$category_colour: hsl(14, 25%, 72%);
$font_family: 'Red Hat Text', sans-serif;

body {
  font-family: $font_family;
  background-color: $background_colour;

  #container{
    display: grid;
    grid-template-columns: 2fr 1fr; // sidebar and main content
    gap: 3rem;               
    padding: 2rem 4rem; //overall page    
    align-items: start; 

  #deserts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

  .card {
    padding: 1rem;
    border-radius: 15px;

    .image_wrapper{
        position:relative;
        border-radius: 1px;
        overflow: visible;
        .image{
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 180px;
            object-fit: cover; 
            display: block;
        }
        .btn {
             position: absolute; 
            bottom: -20px;          // hangs below image   
            background-color:hsl(20, 50%, 98%);
            color: black;
            padding: 8px 25px;
            border: 1px hsl(12, 20%, 44%) solid;
            margin-left: 20%;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 999px;
            font-weight: bold;
            cursor: pointer; // points a finger
            &:hover{
                border-color: $primary-color;
                color:$primary-color;
            }

           .quantityControls {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;

                .decrement{
                    width:20px;
                    height:20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: hsl(14, 86%, 42%);
                    border:1px hsl(13, 31%, 94%) solid;
                    border-radius: 50%;
                    padding:0;
                    cursor: pointer;
                }

                .increment{
                    width:20px;
                    height:20px;
                    justify-content: center;
                    background-color: hsl(14, 86%, 42%);
                    border:1px hsl(13, 31%, 94%) solid;
                    border-radius: 50%;
                    padding:0;
                    cursor: pointer;
                }
            }
        }
    }

    .deets{
        padding-top: 15px;
        .category {
            font-size: 0.9rem;
            color:$category_colour;
            margin-bottom: 0.25rem; // reduce space below
        }

        .name {
            font-size: $font-size;
            font-weight: bold;
            margin: 0;              // remove default margin
        }

        .price {
            font-weight: bold;
            color: $primary-color;
            margin-top: 0.25rem;    // small gap above price
        }
      }
    }
   }

  }
}


#your_cart{
        //background-color: black;
        //margin-left: 70px;
        background-color: white;
        border-radius: 15px;
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);
        h2{
            color: $primary-color;
        }
        width: 90%;
   }

.item_deets{
    display: flex;
    flex-direction: column;

   [id^="quan-"]{ //^= starts with quan-1, quan-2, etc.
        font-weight: bold;
        color: $primary-color;
        margin-bottom: 0.5rem;  
   }

   .second_row {
        display: flex;
        //justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.5rem; // space below
       
        .p{
            padding-top: -12px;
        }
        .item_p{
            color: hsl(14, 25%, 72%);
        }
        .item_tot{
            color: hsl(12, 20%, 44%);
        }
        button{
            border-radius: 50%;
            border-style: none;
            margin-left: auto;  // This pushes button to the far right
            &:hover {
                stroke: black;
                stroke-width: 4;
            }
        }
    }

    hr{
        border: none;          // remove default border
        height: 1px;           // line thickness
        background-color: hsl(13, 31%, 94%);  // line color
        margin: 1rem 0;        // vertical spacing
        margin-top: 0.09rem;
    }
}

.carbon_neutral {
  margin-top: 20px;
  background-color: hsl(13, 31%, 94%);
  padding: 10px 55px;
  display: flex;
  justify-content: center;  
  align-items: center;
  border-radius: 10px;  
    img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
  p {
    display: inline-block;
    margin: 0;
    margin-top: -5px;
  }
}

.order_total{
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: hsl(12, 20%, 44%);  
    strong{
        font-size: 25px;
        font-weight: bold;
        //display: block;        // take full width
        text-align: right;
        color:black ;
    }
}

.confirm_button{
   background-color: $primary-color;
  color: hsl(13, 31%, 94%);
  padding: 8px 25px;
  border: 1px solid hsl(12, 20%, 44%);
  margin-top: 20px;

  display: flex;
  justify-content: center;  
  align-items: center;      

  gap: 0.5rem;
  border-radius: 999px;
  width: 350px;  
  height: 50px;   
  cursor: pointer; 

  font-weight: bold;
  &:hover {
    background-color: hsl(14, 94%, 28%);
  }
}

