
$price-color: hsl(14, 86%, 42%);
$font-size: 16px;
$background_colour: hsl(13, 31%, 94%);
$category_colour: hsl(14, 25%, 72%);

body {
  font-family: 'Red Hat Text';
  background-color: $background_colour;

  #deserts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1px; 

  .card {
    padding: 1rem;
    border-radius: 10px;

    .image_wrapper{
        position:relative;
        border-radius: 10px;
        overflow: visible;
        .image{
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 180px;
            object-fit: cover; 
            display: block;
        }
        .btn {
             position: absolute;     // 👈 Now it works!
            bottom: -20px;          // hangs below image   
            background-color:hsl(20, 50%, 98%);
            color: black;
            padding: 8px 25px;
            border: 1px hsl(12, 20%, 44%) solid;
            margin-left: 20%;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 999px;
            font-weight: bold;
        }
    }

    .deets{
        padding-top: 15px;
        .category {
            font-size: 0.9rem;
            color:$category_colour;
            margin-bottom: 0.25rem; // reduce space below
        }

        .name {
            font-size: $font-size;
            font-weight: bold;
            margin: 0;              // remove default margin
        }

        .price {
            font-weight: bold;
            color: $price-color;
            margin-top: 0.25rem;    // small gap above price
        }
    }
  }
}
}

