* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/images/background-desktop.png');
  color: white;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  padding: 3rem 1rem;
background: linear-gradient(135deg, #0f021f, #250b5c);
}


/* Details */
.ticket {
  min-height: 10px; /* or more, adjust as needed */
  padding: 2rem;
}
.details {
  max-width: 1500px;
  margin: 0 auto;
  width:1000px;
  padding: 1.5rem;
background-image: url('./assets/images/pattern-ticket.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto 2rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.details div {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  word-break: break-word;
}


.ticketID {
  position: absolute;
  right: 550px; /* Adjust spacing to sit outside ticket edge */
  top: 55%; 
  transform: rotate(90deg) translateY(-50%);
  transform-origin: center;
  font-size: 12px;
  color: white;
  font-family: monospace;
  opacity: 0.6;
}


/* Button */
button {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
background-color: #ff4d4d;
  border: none;
  border-radius: 6px;
}

.git {
  display: flex;
  align-items: center;       
  justify-content: center;  
  gap: 8px;                 
  margin-top: 20px;          
}
.profile-pic {
  width: 70px;
  height: 70px;
  border-radius:10px;
  object-fit: cover;
}

#qrcode {
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  margin-left: -70px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.images{
    display: flex;
    flex-direction: row;
}
